// ESTE ARQUIVO ESTILIZA SOMENTE OS COMPONENTES HEADER E FOOTER (CABEÇALHO E RODAPÉ).

$primary-color: #1E90FF
$secondary-color: #1C3D5A
$cinza-escuro: #4A4A4A
$cinza-claro: #F4F6F9
$verde-neon: #00D97E
$branco-puro: #fff

// classe que será aplicada a links ativos
.active 
    // background-color: #121212
    padding: 4px 
    border-bottom: 2px solid $primary-color
    color: $primary-color

// Estilos do Header
header
    display: flex
    align-items: center
    justify-content: space-around
    padding: 25px
    background-color: $branco-puro
    border-bottom: 3px solid $primary-color

    .project-title 
        color: $secondary-color
        font-size: 1.6em
        font-weight: bold
    
    .navigation
        display: flex

    .navigation li 
        // color: $secondary-color
        font-size: 1em
        font-weight: 500
        padding: 5px 15px 5px

        &:hover
            color: $primary-color

    .btn 
        background-color: $verde-neon
        padding: 10px 15px
        border: 2px solid $verde-neon
        border-radius: 8px
        color: $branco-puro
        font-weight: 500

        &:hover
            background-color: $verde-neon

// Estilos do Footer
footer
    background-color: $secondary-color
    padding: 60px 80px

    h1
        font-size: 2.5em

    .menu-title, .social-title
        color: $branco-puro
        font-weight: 500
        font-size: 1.2em

    ul li
        color: $branco-puro
        margin-top: 5px

        &:hover 
            color: $primary-color
    
    .social-links .icon
        color: $branco-puro
        font-size: 1.8em
    
.copyright
    background-color: $primary-color
    color: $branco-puro
    // font-weight: medium
    font-size: 0.9em

    h2 span
        font-weight: 500

        &:hover
            color: $secondary-color