.card
    width: 25%
    border-radius: 8px 
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1)
    padding: 22px
    text-align: center

.card_icon
    width: 100%
    margin: 0 auto
    margin-bottom: 15px

.card_title
    font-weight: 500
    font-size: 1em
    margin-bottom: 12px